{{#user.invitationAccepted}}
  Hello {{{user.firstName}}},
{{/user.invitationAccepted}}
{{^user.invitationAccepted}}
  Hello {{{user.email}}},
{{/user.invitationAccepted}}

We got a request to reset your {{{app.name}}} password. If it wasn't requested by you, please ignore this mail.

Please click the following link to reset your password:

{{{resetPasswordURL}}}

Thanks,<br />
{{{app.name}}}
