{{#user.invitationAccepted}}
  Hello {{user.firstName}},<br /><br />
{{/user.invitationAccepted}}
{{^user.invitationAccepted}}
  Hello {{user.email}},<br /><br />
{{/user.invitationAccepted}}

We got a request to reset your {{app.name}} password. If it wasn't requested by you, please ignore this mail.<br /><br />

Please click the following button to reset your password:<br /><br />

<a
  href="{{resetPasswordURL}}"
  style="background-color: #4CAF50; border: none; color: white; padding: 12px 18px; text-align: center; text-transform: uppercase; text-decoration: none; display: inline-block; cursor: pointer; font-size: 16px; font-family: Arial; font-weight: bold;"
>Reset Password</a><br /><br />

Thanks,<br />
{{app.name}}
